@model ProjectCV.Models.Entity.TblReference
@{
    ViewBag.Title = "BringReference";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("UpdateReference", "Reference", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.id)
        @Html.TextBoxFor(m => m.id, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.name)
        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.surname)
        @Html.TextBoxFor(m => m.surname, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.department)
        @Html.TextBoxFor(m => m.department, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.company)
        @Html.TextBoxFor(m => m.company, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.position)
        @Html.TextAreaFor(m => m.position, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.phone)
        @Html.TextBoxFor(m => m.phone, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Update</button>
    </div>
}

