@model ProjectCV.Models.Entity.TblExperience
@{
    ViewBag.Title = "BringExperience";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("UpdateExperience", "Experience", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.id)
        @Html.TextBoxFor(m => m.id, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.title)
        @Html.TextBoxFor(m => m.title, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.subtitle)
        @Html.TextBoxFor(m => m.subtitle, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.company)
        @Html.TextBoxFor(m => m.company, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.date)
        @Html.TextBoxFor(m => m.date, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.details)
        @Html.TextAreaFor(m => m.details, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Update</button>
    </div>
}